<form name="taskForm" class="form-horizontal">
  
  <div class="control-group" ng-class="{error: taskForm.desc.$invalid}">
    <label class="control-label" for="desc">Name</label>
    <div class="controls">
      <input class="input-xlarge" type="text" name="desc" id="desc" ng-model="task.DESCRIPTION" required>
      <span ng-show="taskForm.desc.$error.required" class="help-inline">Required</span>
    </div>
  </div>

  <label class="control-label" for="date">Date</label>
  <div class="controls">
    <input class="input-xlarge" name="date" id="date" ng-model="task.DUE_DATE">
  </div>

  <label class="control-label" for="note">Note</label>
  <div class="controls">
    <textarea class="input-xxlarge" name="note" id="note" ng-model="task.NOTE"></textarea>
  </div>

  <div class="form-actions">
    <button ng-click="save()" ng-disabled=" taskForm.$invalid" class="btn btn-primary"><i class="icon-ok icon-white"></i> Save</button>
    <!-- <a href="<?php echo site_url('tasks#/'); ?>" class="btn btn-link">Cancel</a> -->
  </div>
  
</form>