<div class="content two-sidebars" >

    <div id="icon-title">
        <img src="images/flat-ui/illustrations/retina.png" id="icon"/>
        <h1 class="title">Edit task</h1>
    </div>

<form name="taskForm" id="taskForm">
  
  <div class="form-item" ng-class="{error: taskForm.desc.$invalid}">
    <input type="text" placeholder="Task title" name="title" id="" ng-model="task.TaskTitle" required>
    <span ng-show="taskForm.desc.$error.required" class="help-inline">Required</span>
  </div>

  <div class="form-item" id="task-dates">
    <div id="task-start-date"><input type="date" placeholder="Start Date" name="start-date" id="start-date" ng-model="task.StartDate" datepicker></div>
    <div id="task-due-date"><input type="date" placeholder="Due Date" name="due-date" id="due-date" ng-model="task.DueDate" datepicker></div>
  </div>

  <div class="form-item">
    <input type="text" placeholder="Add a category from the right" name="category" id="category" ng-model="task.TaskCat">
  </div>

  <div class="form-item" id="task-time">
    <div id="task-budget-time"><input type="text" placeholder="Hours Estimated" name="budget-time" id="budget-time" ng-model="task.BudgetTime"></div>
    <div id="task-spent-time"><input type="text" placeholder="Hours Invested" name="spent-time" id="spent-time" ng-model="task.SpentTime"></div>
  </div>

  <div class="form-item">
    <textarea placeholder="Write a little bit about the task you would like to complete." name="note" id="note" ng-model="task.Notes"></textarea>
  </div>

  <div class="form-item" id="task-status">
    <label><input type="radio" name="taskStatus" value="Open" ng-model="task.Status" />Open</label>
    <label><input type="radio" name="taskStatus" value="Closed" ng-model="task.Status" />Closed</label>
    <label><input type="radio" name="taskStatus" value="Suspended" ng-model="task.Status" />Suspended</label>
  </div>

  <div class="form-actions">
    <button class="btn-primary" ng-click="save()" ng-disabled="taskForm.$invalid">Save</button>
  </div>
  
</form>

</div>

<aside class="sidebar" id="sidebar-first">
    <div id="icon-title">
        <img src="images/flat-ui/illustrations/bag.png" id="icon"/>
        <h2>Task categories</h2>
    </div>
    <div class="sidebar-block" id="category-select">
      <div class="block-header">
        <input type="text" ng-model="search" class="search-query" placeholder="Search..." name="search" id="search"><span class="fui-search-16"></span>
      </div>
      <div class="block-content">
        <ul  ng-controller="categoryController">
          <li ng-repeat="cat in categories | filter:search | orderBy:sortTask" ng-include="'category-select-add.html'"></li>
        </ul>
      </div>
    </div>
</aside>

<aside class="sidebar" id="sidebar-second">
    <div id="icon-title">
        <img src="images/flat-ui/illustrations/pencils.png" id="icon"/>
        <h2>Your new task</h2>
    </div>
    <div class="sidebar-block" id="task-build">
      <div class="block-content">
        <p><strong>Title:</strong> {{task.TaskTitle}}</p>
        <p><strong>Start Date:</strong> {{task.StartDate}}</p>
        <p><strong>Due Date:</strong> {{task.DueDate}}</p>
        <p><strong>Category:</strong> {{task.TaskCat}}</p>
        <div id="hours-group">
          <strong>Hours:</strong>
          <div id="hours-chart" class="chart">

          </div>
          <table id="hours">
            <thead>
              <tr>
                <th></th>
                <th>Hours</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Remaining</th>
                <td>{{RemainTime}}</td>
              </tr>
              <tr>
                <th>Invested</th>
                <td>{{task.SpentTime}}</td>
              </tr>
            </tbody>
          </table>  
        </div>    
        <p><strong>Notes:</strong> {{task.Notes}}</p>
        <p><strong>Status:</strong> {{task.Status}}</p>
      </div>  
    </div>    
</aside>