<div class="content two-sidebars" >

<h1 class="title">Create new task</h1>


<form name="taskForm" class="form-horizontal">
  
  <div ng-class="{error: taskForm.desc.$invalid}">
    <input type="text" placeholder="Task title" name="desc" id="desc" ng-model="task.TaskTitle" required>
    <span ng-show="taskForm.desc.$error.required" class="help-inline">Required</span>
  </div>

  <div>
    <input type="text" placeholder="Due Date" name="date" id="date" ng-model="task.DueDate">
  </div>

  <div>
      <label>Category<label>
      <select ng-model="task.taskCat" ng-controller="categoryController"> 
          <option ng-repeat="cat in categories" ng-include="'categoryItem.html'" value="{{ cat }}" >{{ cat }}</option>
      </select>
      <ul  ng-controller="categoryController" style="list-style: none;">
      <li ng-repeat="cat in categories"  ng-include="'categoryItem.html'" ></li>
      </ul>
  </div>

  <div>
    <textarea placeholder="Write a little bit about the task you would like to complete." name="note" id="note" ng-model="task.Notes"></textarea>
  </div>

  <div class="form-actions">
    <button ng-click="save()" ng-disabled="taskForm.$invalid">Save</button>
  </div>
  
</form>

</div>

<aside class="sidebar" id="sidebar-first">
    <div id="icon-title">
        <img src="images/flat-ui/illustrations/pencils.png" id="icon"/>
        <h2>Your new task</h2>
    </div>
    <div id="task-build">
        <p><strong>Title:</strong> {{task.TaskTitle}}</p>
        <p><strong>Notes:</strong> {{task.Notes}}</p>
        <p><strong>Category:</strong> {{task.taskCat}}</p>
        <p><strong>Priority:</strong> {{task.taskPriority}}</p>
        <p><strong>Due Date:</strong> {{task.DueDate}}</p>
        <p><strong>Progress:</strong> {{task.taskProgress}}</p>
    </div>
</aside>

<aside class="sidebar" id="sidebar-second">
    <div id="icon-title">
        <img src="images/flat-ui/illustrations/calendar.png" id="icon"/>
        <h2>Your calendar</h2>
    </div>
</aside>