/* _dashboard.sass */
//#dashboard
//	@include clearfix
//	background: $asbestos

ul#category-circles
	margin: 0
	padding: 0
	list-style: none
	li
		@include transition (all 0.3s ease-in-out)
		float: left
		display: inline
		height: 0
		width: 23%
		padding-bottom: 23%
		margin: 1%
		border-radius: 50%
		background: $turquoise
		&:hover
			background: $green-sea
			margin: 0
			width: 25%
			padding-bottom: 25%
		a
			@include transition (all 0.3s ease-in-out)
			float: left
			width: 100%
			padding-top: 50%
			line-height: 1em
			margin-top: -0.5em
			text-align: center
			text-decoration: none
			color: white
			font-size: 1.5em
			&:hover
				color: $clouds
				font-size: 2em
	li:nth-child(2n)
		background: $alizarin
		width: 8%
		padding-bottom: 8%
		&:hover
			background: $pomegranate
			margin: 0
			width: 10%
			padding-bottom: 10%					
	li:nth-child(3n)
		background: $peter-river
		width: 28%
		padding-bottom: 28%
		&:hover
			background: $belize-hole		
			margin: 0
			width: 30%
			padding-bottom: 30%
	li:nth-child(4n)
		width: 18%
		padding-bottom: 18%
		background: $amethyst
		&:hover
			background: $wisteria
			margin: 0
			width: 20%
			padding-bottom: 20%
	li:nth-child(5n)
		width: 13%
		padding-bottom: 13%
		background: $carrot
		&:hover
			background: $pumpkin	
			margin: 0
			width: 15%
			padding-bottom: 15%
	li:nth-child(6n)
		width: 26%
		padding-bottom: 26%
		background: $emerald	
		&:hover
			background: $nephritis	
			margin: 0
			width: 28%
			padding-bottom: 28%
	li:nth-child(8n)
		background: $alizarin
		width: 8%
		padding-bottom: 8%
		&:hover
			background: $pomegranate
			margin: 0
			width: 10%
			padding-bottom: 10%	


