// Form Sass
#{$all-text-inputs}
	width: 100%

textarea
	width: 100%

form
	.form-item label
		text-transform: uppercase

button

#ui-datepicker-div
	background: $clouds

.focus
	border: solid 3px $sunflower	